{% extends 'xgdbase.html' %}

{% block ieTitle %}发送标注{% endblock %}

{% block mybody %}
    	  <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <table id="id_exam_table" class="table">
              	{% for exam in examList %}
              	  <form action="/zxhx/sendLableTask" method="POST" name="form1" target="_parent">
              	    <tr><td>
              	    <em style='color:green'>{{ exam.examName }}</em>
              	    <em style='color:red'>{{ exam.isNew }}</em>
              	    <br>
              	    年级：{{ exam.gradeName }}
              	    <br>
              	    阅卷方式：{{ exam.examType }}
              	    <br>
              	    申请日期：{{ exam.createDay }}
              	    <br>
              	    考试日期：{{ exam.examDay }}
              	    <br>
              	    标注状态：{{ exam.examFlag }}
              	    </td>
              	    <td><input style='display:none;' name='examId' value='{{ exam.examId }}'>
              	    <input style='display:none;' name='examName' value='{{  exam.examName }}'>
              	    {% if '未发送' in exam.examFlag %}
              	        <button type='submit' class='btn btn-success btn-sm'">发送标注</button>
              	        <input type='hidden' name='type' value='send'>
              	        <input type='hidden' name='status' value=0>
              	    {% elif '已取消' in exam.examFlag %}
              	        <button type='submit' class='btn btn-success btn-sm'">发送标注</button>
              	        <input type='hidden' name='type' value='resend'>
              	        <input type='hidden' name='status' value=2>
              	    {% endif %}
              	    </td></tr>
              	   {% csrf_token %}
              	   </form>
              	{% endfor %}
              </table>
          </div>
        </div>
      {% if errorInfo %}
        <script>
           alert('{{ errorInfo }}')
        </script>
      {% endif %}
      
      <div id="divcss5">
         <ul class="pagination">
          <li class="page-item" id="bpage"><a class="page-link" href="/zxhx/examList/page/" id="beforepage">上一页</a></li>
          <li class="page-item"><a class="page-link" href="/zxhx/examList/page/" id="nextpage">下一页</a></li>
         </ul>
      </div>
      
      <script type=text/javascript>
      	var pageN = {{ pageNum|safe }};
      	var pageB = pageN - 1;
      	var pageE = pageN + 1;
      	var bp = document.getElementById("beforepage");
      	var np = document.getElementById("nextpage");
      	bp.href = bp.href.concat(String(pageB));
      	np.href = np.href.concat(String(pageE));
      	if (pageN == 1){
      	   document.getElementById("bpage").className = "page-item disabled"
      	}
      </script>
{% endblock %}
